name: publish

on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: latest
            - run: npm install
            - run: npm run build
            - run: npm run prepack
            - uses: JS-DevTools/npm-publish@4ce4bd0f334d5316473155078da1955d42148494
              with:
                  token: ${{ secrets.NPM_TOKEN }}
            - run: npm run postpack
