name: publish

on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: latest
            - run: npm install
            - run: npm run build
            - run: npm run prepack
            - uses: JS-DevTools/npm-publish@d2fef917d9aa6e1f0ee5eac28ed023eb4921ce51
              with:
                  token: ${{ secrets.NPM_TOKEN }}
            - run: npm run postpack
